.horital-menu body {
    font-size: 28px;
}

.horital-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.horital-menu li {
    float: left;
}

    .horital-menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .horital-menu li a:hover {
            background-color: #111;
        }

.horital-menu .active {
    background-color: #4CAF50;
}
